<header>
    <div class="header-top-bar">
        <div class="container">
            {{ template "_internal/topbar.html" . }}
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navigation" id="navbar">
        <div class="container">
            {{ template "_internal/logo.html" . }}
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain" aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icofont-navigation-menu"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarmain">
                {{ template "_internal/topmenu.html" . }}
            </div>
        </div>
    </nav>
</header>